@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.navbar {
  background-image: url("/marble-background-dark.jpg");
  background-size: cover;
}

.navbar-Border {
  height: .5rem;
  min-width: 100vh;
  background-color: #000000;
}


li a.nav-link {
    background-image: linear-gradient(60deg, #b500da, #0018f1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

li:nth-of-type(2) a.nav-link {
    background-image: linear-gradient(60deg, #00d9ff, #97008b);
}

li:nth-of-type(3) a.nav-link {
    background-image: linear-gradient(60deg, #7700ffa6, #c300dd);
}

.navbar-brand {
    background-image: linear-gradient(60deg, #ec00a5, #FFB03A);
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: 2rem;
}

a.navbar-brand,
a.navbar-brand:hover {
    color: transparent;
    font-size: 2rem;
}

a.githubLink {
  background: -webkit-linear-gradient(#ff9900, #e100ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-inner {
  background-image: url("/marble-background-dark.jpg");
  background-size: cover;
}

li.nav-item {
    font-size: 1.6rem;
}


.card-title-html {
    font-size: 2rem;
    padding: 1rem;
    position: relative;
}

.card-title-html::before {
    content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #ce0045 9.6%, #fd8700 93.6%);
}



.card-title-css {
    font-size: 2rem;
    padding: 1rem;
    position: relative;
}

.card-title-css::before {
    content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #00cec3 9.6%, #0e00d4 93.6%);
}

.card-title-js {
    font-size: 2rem;
    padding: 1rem;
    position: relative;
}

.card-title-js:before {
    content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #df6400 9.6%, #d0d400 93.6%);
}

.card-title-react {
  color: #00d9ff;
  font-size: 2rem;
  padding: 1rem;
  position: relative;
}

.card-title-react:before {
  content: "";
position: absolute;
top: 100%;
width: 100%;
left: 0;
height: 5px;
border-radius: 2px;
background: linear-gradient(111.3deg, #00ffff 9.6%, #1000eea8 93.6%);
}

.card-title-nodejs {
  font-size: 2rem;
  padding: 1rem;
  position: relative;
}

.card-title-nodejs:before {
  content: "";
position: absolute;
top: 100%;
width: 100%;
left: 0;
height: 5px;
border-radius: 2px;
background: linear-gradient(111.3deg, #5eff00 9.6%, #008307 93.6%);
}
/* Card Title Underline End */

/* Style the video: 100% width and height to cover the entire window */

  #Galaxy1 {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  /* Add some content at the bottom of the video/page */
  .home-Content {
    flex: 1;
    color: white;
    border-width: .7rem;
    border-style: solid;
    max-height: 25rem;
    min-height: 15rem;
    max-width: 40%;
    min-width: 15rem;
    background: rgba(0, 0, 0, 0.9);
    font-size: 1.5rem;
    padding: 1rem 1rem 0rem 2rem;
    margin: auto;
    margin-top: 5rem;
    border-image: linear-gradient(45deg, rgba(237, 0, 245, 0.856), rgba(216, 140, 0, 0.863)) 1;
    overflow-y: auto;
  }

  .home-Content-Header {
    text-align: center;
    background: -webkit-linear-gradient(#e79213, #9e00b3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .home-Content-Header {
    padding-bottom: 1rem;
  }

  /* This div structures all Contact Me children div's - START */
   div.contactMeStructure {
    display: flex;
    margin: 1rem;
    padding: 2rem 2rem;
    max-height: 30rem;
    text-align: center;
  }
  /* This div structures all Contact Me children div's - END */
  
  /* First Contact Me Bio Div Styles - START */
  .contactMeHeader {
    text-align: center;
    background: -webkit-linear-gradient(#38c7ff, #d21fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .contentContactMe {
    flex: 1;
    border-width: 1rem;
    border-color: #000000;
    border-style: double;
    max-width: 40%;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    font-size: 1.5rem;
    padding: 1rem 1rem 0rem 2rem;
    margin-right: 10rem;
    max-height: 22.5rem;
    min-width: 15rem;
    overflow-y: auto;
  }

  .contactMeHr {
   width: 90%;
   margin: auto;
  }

  p.contactMeBio {
    padding: 1rem 1rem;
  }
  /* Contact Me Bio Div Styles - END */

  /* Contact Information Div Styles - START */
  .contentContactMe2 {
    flex: 1;
    border-width: 1rem;
    border-color: #000000;
    border-style: double;
    background: rgba(0, 0, 0, 0.9);
    color: #f1f1f1;
    max-height: 22.5rem;
    min-width: 15rem;
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
    overflow-wrap: break-word;
    text-align: justify;
  }

  .contactMeHeader2 {
    text-align: center;
    background: -webkit-linear-gradient(#4a00d3, #ff1f75);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p.contactInformation {
    padding: 0.5rem 3rem;
  }

  p.contactInformationFooter {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
  }
  /* Contact Information Div Styles - END */

  /* Contact Me Guide - START */
 .contactMeGuide {
  flex: 1;
  margin: auto;
  text-align: center;
  max-height: 30rem;
  min-height: 20rem;
  max-width: 40%;
  min-width: 15rem;
  border-width: 1rem;
  border-color: #000000;
  border-style: double;
  background: rgba(0, 0, 0, 0.9);
  color: #f1f1f1;
  padding: 1rem 0 0 0;
  overflow-wrap: break-word;
  overflow-y: auto;
  text-align: justify;
 }

 .contactMeGuideHeader {
  text-align: center;
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(#ff7300, #ff00c8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

 p.contactMeGuideInfo {
  font-size: 2vh;
  padding: 2rem;
  overflow-wrap: break-word;
 }

 .contactMeGuideList {
  padding: 1rem;
 }
  /*  Contact Me Guide - END */

  /* Cards START */
  .card-html{
    background-color: rgba(43, 43, 43, 0.493);
    border-radius: 15px;
    color: #ff3300;
    padding: 2rem;
    background-color: transparent;
    margin-top: 2rem;
}

 .card-css{
    background-color: rgba(43, 43, 43, 0.493);
    color: #0044ff;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
}

 .card-js{
    background-color: rgba(43, 43, 43, 0.493);
    color: #ffee00;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
}

.card-react{
  background-color: rgba(43, 43, 43, 0.493);
  border-radius: 15px;
  color: #ff3300;
  padding: 2rem;
  background-color: transparent;
  margin-top: 5rem;
}

.card-wordpress{
  background-color: rgba(43, 43, 43, 0.493);
  color: #0c8de2d2;
  border-radius: 15px;
  padding: 2rem;
  margin-top: 5rem;
  height: 20rem;
}

.card-nodejs{
  background-color: rgba(43, 43, 43, 0.493);
  color: #3bd447b6;
  border-radius: 15px;
  padding: 2rem;
  margin-top: 5rem;
}

.card-img-top {
    float: left;
    width:  250px;
    height: 350px;
    background-size: cover;
}

.card-text {
  overflow-wrap: break-word;
    font-size: 1.5rem;
    padding: 1.5rem
}

.card-text-react{
  color: #00d9ff;
  margin-top: 2rem;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}
/* Cards END */



.btnGit {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #ffffff, #535353);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 1.5rem;
    padding-right: 1.5rem;
  }

  /* SCROLLBAR width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(78, 78, 78);
    border-radius: 20px;
  }
  
  /* SCROLLBAR Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(32, 32, 32);
  }
  
  
  /* Marble hobbies section START */
  .marble-Border{
    margin-top: 20rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    position:relative;
    
  }

  .marble-Span{
    width: 100vw;
  }

  .marble-Span-Text{
    margin: 0px;
    padding: 0px;
  }
  
  .marble-Section{
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
  }

  .marble-Img {
   filter: brightness(40%);
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0px;
   padding: 0px;
   height: 100vh;
   width: 100vw;
   z-index: -1;
}

.hobbies-Title {
  position: absolute;
  z-index: 1;
}

/* Marble hobbies section END */